/* @import url("./catppuccin.css"); */

* {
    accent-color: #cba6f7;
}

::selection {
    background: #cba6f788;
}

#not-share-buttons {
    display: inline-block !important;
}

:root {
    --rosewater: var(--ctp-latte-rosewater);
    --flamingo: var(--ctp-latte-flamingo);
    --pink: var(--ctp-latte-pink);
    --mauve: var(--ctp-latte-mauve);
    --mauve-raw: var(--ctp-latte-mauve-raw);
    --red: var(--ctp-latte-red);
    --red-raw: var(--ctp-latte-red-raw);
    --maroon: var(--ctp-latte-maroon);
    --peach: var(--ctp-latte-peach);
    --yellow: var(--ctp-latte-yellow);
    --green: var(--ctp-latte-green);
    --green-raw: var(--ctp-latte-green-raw);
    --teal: var(--ctp-latte-teal);
    --sky: var(--ctp-latte-sky);
    --sapphire: var(--ctp-latte-sapphire);
    --blue: var(--ctp-latte-blue);
    --lavender: var(--ctp-latte-lavender);
    --subtext0: var(--ctp-latte-subtext0);
    --subtext1: var(--ctp-latte-subtext1);
    --surface0: var(--ctp-latte-surface0);
    --surface1: var(--ctp-latte-surface1);
    --surface2: var(--ctp-latte-surface2);
    --overlay2: var(--ctp-latte-overlay2);
    --mantle: var(--ctp-latte-mantle);


    --primary-color: var(--ctp-latte-mauve);
    --text-color: var(--ctp-latte-text);
    --secondary-text-color: var(--ctp-latte-subtext0);
    --background-color: var(--ctp-latte-base);
    --link-color: var(--primary-color);
    --link-hover-color: #6819af;
    --visited-link-color: #6819af;
    --blockquote-border-color: var(--ctp-latte-surface0);
    --nav-background-color: var(--ctp-latte-surface0);
    --nav-border-color: var(--ctp-latte-surface0);
    --nav-icon-color: var(--ctp-latte-subtext1);
    --code-background-color: var(--ctp-latte-surface0);
}

@media (prefers-color-scheme: dark) {
    :root {
        --rosewater: var(--ctp-mocha-rosewater);
        --flamingo: var(--ctp-mocha-flamingo);
        --pink: var(--ctp-mocha-pink);
        --mauve: var(--ctp-mocha-mauve);
        --mauve-raw: var(--ctp-mocha-mauve-raw);
        --red: var(--ctp-mocha-red);
        --red-raw: var(--ctp-mocha-red-raw);
        --maroon: var(--ctp-mocha-maroon);
        --peach: var(--ctp-mocha-peach);
        --yellow: var(--ctp-mocha-yellow);
        --green: var(--ctp-mocha-green);
        --green-raw: var(--ctp-mocha-green-raw);
        --teal: var(--ctp-mocha-teal);
        --sky: var(--ctp-mocha-sky);
        --sapphire: var(--ctp-mocha-sapphire);
        --blue: var(--ctp-mocha-blue);
        --lavender: var(--ctp-mocha-lavender);
        --subtext0: var(--ctp-mocha-subtext0);
        --subtext1: var(--ctp-mocha-subtext1);
        --surface0: var(--ctp-mocha-surface0);
        --surface1: var(--ctp-mocha-surface1);
        --surface2: var(--ctp-mocha-surface2);
        --overlay2: var(--ctp-mocha-overlay2);
        --mantle: var(--ctp-mocha-mantle);


        --primary-color: var(--ctp-mocha-mauve);
        --text-color: var(--ctp-mocha-text);
        --secondary-text-color: var(--ctp-mocha-subtext0);
        --background-color: var(--ctp-mocha-base);
        --link-color: var(--primary-color);
        --link-hover-color: #b892e6;
        --visited-link-color: #b892e6;
        --blockquote-border-color: var(--ctp-mocha-surface0);
        --nav-background-color: var(--ctp-mocha-surface0);
        --nav-border-color: var(--ctp-mocha-surface0);
        --nav-icon-color: var(--ctp-mocha-subtext1);
        --code-background-color: var(--ctp-mocha-surface0);
    }
}

.svg-icon,
.site-nav .menu-icon>svg {
    fill: var(--nav-icon-color);
}

.post-meta,
.post-tags,
.footer-col-wrapper,
blockquote,
.post_navi .post_navi-item {
    color: var(--secondary-text-color) !important;
}

h1 {
    font-weight: 700;
}

h2 {
    font-weight: 600;
}

h3,
h4,
h5,
h6 {
    font-weight: 500;
}

blockquote {
    letter-spacing: 0.001em;
    font-style: normal;
    font-size: 16px;
    border-left: 2px solid var(--blockquote-border-color);
    padding-left: 12px;
}

.site-title,
.site-title:visited {
    font-weight: bold;
    color: var(--text-color);
    letter-spacing: 0.001em;
    font-size: 30px;
}

.footer-heading {
    font-size: 24px;
    margin-bottom: 6px;
}

.post-content h2 {
    font-size: 42px;
    font-family: var(--font-serif);
    font-weight: bold;
        border-bottom: 1px solid var(--surface1);
}


hr {
    margin-top: 30px;
    margin-bottom: 20px;
}

/* Post navigation links */

.post_navi {
    display: flex;
}

.post_navi-label {
    font-size: 0.8em;
}

.post_navi .post_navi-item {
    padding: 0 2.2em;
    width: 50%;
    position: relative;
    color: inherit !important;
}

.post_navi .nav_prev {
    text-align: left;
}

.post_navi .nav_next {
    text-align: right;
}

.post_navi .nav_prev .post_navi-arrow {
    left: 0;
}

.post_navi .nav_next .post_navi-arrow {
    right: 0;
}

.post_navi-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2.5em;
}

.post_navi-arrow,
.post_navi-label {
    color: var(--overlay2) !important;
}

body {
    font: 400 16px / 1.5 var(--font-body);
    color: var(--text-color);
    background-color: var(--background-color);
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    -webkit-font-kerning: normal;
    font-kerning: normal;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    overflow-x: none;
}

h1,
h2:not(article h2),
.site-title {
    font-family: var(--font-serif), serif;
    font-weight: bold;
}

.post-title {
    font-size: 64px;
    border-bottom: 1px solid var(--surface1);
}

.site-header {
    border-top-color: var(--primary-color);
    border-bottom-color: var(--nav-border-color);
    box-shadow: inset 0px 50px 45px -55px rgba(var(--mauve-raw), 0.2);
}

.post-meta,
.post-tags {
    margin-bottom: 0;
    font-size: 0.95rem;
}

.post-header {
    margin-bottom: 5px;
}

.post-meta {
    margin-bottom: 3px;
}

.footer-col-2 {
    width: calc(25% - (15px / 2));
}

.share-links {
    margin-bottom: 6px;
}

pre,
code {
    border-radius: 6px;
    font-family: var(--font-mono), monospace;
}

hr {
    border: 1.75px dashed var(--nav-border-color);
}

subt {
    color: var(--subtext0);
    font-size: 0.9rem;
}

a {
    color: var(--link-color);
    text-decoration: none;
}

a:visited {
    color: var(--visited-link-color);
}

a:hover {
    color: var(--link-hover-color);
}

@media screen and (max-width: 600px) {
    .site-nav {
        background-color: var(--nav-background-color);
        border: 1px solid var(--nav-border-color);
        border-radius: 8px;
        text-align: right;
    }
}

.site-footer {
    border-color: var(--nav-border-color);
}

.site-nav .page-link {
    color: var(--text-color);
}

/* center images */
p:has(img) {
    text-align: center;
}

/* highlighting */
.hljs,
.highlighter-rouge .highlight {
    color: var(--text-color);
    background: transparent;
}

pre,
code {
    border-radius: 1em;
    background: var(--mantle) !important;
    border-color: var(--surface0);
}

code {
    border-radius: 0.1em;
    border: none;
}

/* https://github.com/catppuccin/catppuccin/blob/main/docs/style-guide.md#code-editors */

.hljs-keyword,
.hljs-selector-tag,
.hljs-literal {
    color: var(--mauve);
}

.hljs-string,
.hljs-meta .hljs-string {
    color: var(--green);
}

.hljs-symbol {
    color: var(--red);
}

.hljs-char.escape_,
.hljs-regex {
    color: var(--pink);
}

.hljs-subst {
    color: var(--subtext1);
}

.hljs-comment,
.hljs-doctag {
    color: var(--overlay2);
}

.hljs-number {
    color: var(--peach);
}

.hljs-operator {
    color: var(--sky);
}

.hljs-title,
.hljs-title.class_,
.hljs-title.class_.inherited__,
.hljs-title.function,
.hljs-property {
    color: var(--blue);
}

.hljs-params {
    color: var(--maroon);
}

.hljs-built_in,
.hljs-symbol {
    color: var(--red);
}

.hljs-type,
.hljs-selector-attr,
.hljs-selector-class,
.hljs-selector-id,
.hljs-attr,
.hljs-attribute,
.hljs-meta {
    color: var(--yellow);
}

.hljs-literal {
    font-weight: 600;
}

.hljs-addition {
    color: var(--text-color);
    background: rgba(var(--green-raw), 0.25);
}

.hljs-deletion {
    color: var(--text-color);
    background: rgba(var(--red-raw), 0.25);
}

.hljs-punctuation {
    color: var(--subtext0);
    font-weight: 300;
}
