
<!-- Site build date: {{ "now" | date: "%FT%T%z" }} -->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#cba6f7" media="(prefers-color-scheme: dark)">
  <meta name="theme-color" content="#8839ef">

  <!-- Begin SEO -->
  {% seo %}
  <!-- End SEO -->

  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">

  {% feed_meta %}
  
  <!-- mastodon link verification -->
  <link rel="me" href="https://wetdry.world/@fish">

  <!-- Begin highlight.js support -->
  <link rel="stylesheet" href="/js/highlightjs/styles/github.css">

  <script type="text/javascript" src="/js/highlightjs/highlight.min.js"></script>

  <script type="text/javascript" src="/js/highlightjs/languages/plaintext.min.js"></script>

  <script type="text/javascript"> hljs.highlightAll(); </script>
  <!-- end highlight.js support -->

  <!-- CSS Variable polyfill for IE and older mainstream browsers -->
  <script src="https://cdn.jsdelivr.net/npm/css-vars-ponyfill@2"></script>

  <link rel="stylesheet" href="https://bomberfish.ca/typography.css">
  <!-- <link rel="preload" as="style" type="text/css" href="https://bomberfish.ca/typography.css"> -->

  <link rel="stylesheet" type="text/css" href="/css/catppuccin.css">
  <link rel="preload" as="style" type="text/css" href="/css/catppuccin.css">

  <link rel="stylesheet" type="text/css" href="/css/override.css">
  <link rel="preload" as="style" type="text/css" href="/css/override.css">
  <!-- 100% privacy friendly analytics -->
  <script data-collect-dnt="true" async defer src="https://site-stats.bomberfish.ca/latest.js"></script>
  <noscript><img src="https://site-stats.bomberfish.ca/noscript.gif" alt="" referrerpolicy="no-referrer-when-downgrade" /></noscript>
</head>
